#변수지정

* 영문자나 언더바(_)로 시작한다
* 대,소문자를 구분한다
* 첫 자리 이후에는 영문자와 숫자를 모두 사용할 수 없다
* 한글이 들어간 변수명도 가능하다

In [ ]:
A=11
print(A)

In [ ]:
a = A
print(a)

In [ ]:
x = 1
y = 2

In [ ]:
print(x+y)

* 변수명은 의미 있는 단어로 정하는 것이 좋다

In [ ]:
y=10
print(x+y)

* 변수의 연산을 또 다른 변수에 할당 가능하다

In [ ]:
count = 97
price = 100
count * price

In [ ]:
count = 96
price = 100
total = count * price
total

In [ ]:
a = b = c = 1

In [ ]:
c

In [ ]:
a,b,c = 1,2,'apple'

In [ ]:
c

* del()함수를 사용하여 변수를 삭제 가능하다

In [ ]:
count

In [ ]:
del(count)

In [ ]:
# ctrl+/ 주석

# 데이터 유형

## 문자형 자료

* 문자형 str
* 숫자형 int,float
* Bool형 참,거짓

In [ ]:
'You need Python'

In [ ]:
type('You need Python')

## 숫자형 자료

* 정수형

In [ ]:
a= +123
b = -178
type(a)

* 실수형

In [ ]:
a=1.2
b=-3.45
type(a)

In [ ]:
a = 0o177
b = 127

In [ ]:
a

* bool형

In [ ]:
True

In [ ]:
False

In [ ]:
type(False)

In [ ]:
1>2

In [ ]:
1<2

# 문자형 자료

* 문자열(String)이란 문자,단어 등으로 구성된 문자들의 집합을 의미한다. 예를 들어 다음과 같은 것들이 문자열이다.

In [ ]:
'You Need Python'
'a'
'123'

In [ ]:
print('You Need Python')
print('a')
print('123')

## 문자열을 만드는 방법

* 작은 따옴표: '
* 큰 따옴표: "
* 작은 따옴표 3개: '''
* 큰 따옴표 3개: """

In [ ]:
'You Need Python'

In [ ]:
"You Need Python"

In [ ]:
"""You Need Python"""

In [ ]:
'''You Need Python'''

## 문자열 변경

* upper(): 소문자를 대문자로 변경
* lower(): 대문자를 소문자로 변경
* lstrip() : 왼쪽공백 제거
* rstrip(): 오른쪽공백 제거
* strip(): 양쪽공백 제거

In [ ]:
a = 'APpple'
a.upper()

In [ ]:
a.lower()

* replace(): 문자열 바꾸기
* split(): 문자열 나누기

In [ ]:
a = 'a_b_c_d'
a.replace('_', '-')

In [ ]:
a.split('_')

* join(): 문자열 합치기

In [ ]:
a = ['ㄱ','ㄴ','ㄷ','ㄹ']

In [ ]:
''.join(a)

In [ ]:
':'.join(a)

* format(): formatting 함수

In [ ]:
'오늘 온도는 {}도 입니다.'.format(3)

In [ ]:
day = '7일'
number = 10
'{} 온도는 {}도 입니다.'.format(day, number)

* f : 문자열

In [ ]:
print(f'{day} 온도는 {number}도 입니다.')

# 문자열 연습문제

In [ ]:
ID='870612-1535200'
if ID[7]=='1':
    print('man')
else:
    print('woman')

In [ ]:
a = ['No', 'pain', 'No', 'gain']

' '.join(a)

In [ ]:
a = "a:b:c:d"
a.replace(':','-')

* 문제4) 문자형 포매팅
* a = 3, b = 2 라는 값이 할당되어 있다.
구구단 3 x 2 = 6의 결과를 a,b 변수와, format 함수를 사용하여 출력해 보자.
단, 6은 2*3 곱셈 연산기호를 이용하여 출력
출력 결과물 : 구구단 3 x 2 = 6

In [ ]:
a = 3
b = 2

In [ ]:
print('구구단 {} x {} = {}'.format(a,b,a*b))

# 연산자

## 사칙연산자

In [ ]:
print(123 + 456) #덧셈
print(200 - 192) #뺄셈
print(10 - 210)
print(100 * 1004) #곱셈
print(-3 * 2048)
print(3 * -2048)
print(2 ** 3) #거듭제곱 2의3승
print(33 / 5) #나누기
print(33 // 5) #정수 부분의 값(몫)
print(33 % 5) #몫이 아닌 나머지를 구함

* 연산자의 우선순위
 * 부호 > 곱셈,나눗셈 > 덧셈,뺄셈
 * 괄호가 있다면 괄호먼저 계산

In [ ]:
print(3 + 2 * 2)
print((3 + 2) * 2)

## 비교연산자

In [ ]:
x = 3
y = 4
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)
print(x == y)
print(x != y)

## 논리연산자

* and / or / not

* and : 둘다 참일 때만 True

In [ ]:
print(1<5 and 2<5) # True and True = True

* or : 둘 중 하나만 참일때도 True

In [ ]:
print(True or False)
print(False or True)
print(False or False)
print(True or True)

* not : 논리 반전

In [ ]:
print(not True)
print(not False)

## 대입연산자

* 숫자형 자료의 대입연산자

In [ ]:
a = 10 
b = 2

In [ ]:
b += a
print(b) # b = b + a

In [ ]:
b -= a # b = b - a
print(b)

# 연산자 연습문제

## 문제) 숫자형자료, 연산

* 10의 제곱 출력하기

In [ ]:
print(10**2)

## 문제) 숫자형자료, 변수

* 사과가 5개 바나나가 6개 있을 때 총 과일의 갯수를 출력하여라.
* 단, 사과는 apple, 바나나는 banana라는 변수에 할당 한 후 ,
* 총 과일의 갯수는 total이라는 변수에 할당하라.

In [ ]:
apple = 5
banana = 6 
total = apple + banana
print(total)

## 문제)숫자형자료 변수

* K씨의 성적은 국어 95점, 수학 50점, 영어 70점이다. 
* K씨의 평균 점수를 구하라
단, 국어 kor, 수학 math, 영어 eng 변수에 할당하고
* 결과값은 score 변수에 할당하여 결과값을 출력하라.

In [ ]:
kor = 85
math = 50 
eng = 75
score = (kor + math + eng)/3
print(score)

## 문제) 논리 연산자가 아닌 것을 모두 고르시오.

* 1 and 2 or 3 not 4 nor 5 xor 6 equal

* 답 4, 5, 6

# 문제) 입력한 숫자가 10과 비교하여 큰 수를 출력하는 프로그램을 작성하라.

* num1 변수에는 10을 할당
* num2 변수에 대화형식으로 입력한 값을 할당
* 결과값은 '10과 {입력한 수} 중 큰 수는 {결과값}이다.' 가 나오도록 하시오.

In [ ]:
num1 = 10
num2 = int(input())

a=0

if num1>num2:
    a=num1
else:
    a=num2

print('{}과(와) {} 중 큰 수는 {}이다.'.format(num1,num2, num1 if num1>num2 else num2))
print(a)