# Python 내장자료

## 리스트

* [], list()로 만들 수 있다.

In [ ]:
[1,3,5,7,9]

In [ ]:
list((1, 3, 5, 7, 9)) # () : 튜플

* 리스트는 문자, 숫자 자료를 넣을 수 있다. 
* 또한 혼합할 수 있다.
하나의 값만으로 만들 수 있다.

In [ ]:
a = [] # 비어있는 list
b = list() # 비어있는 list
c = [1] # 하나만 입력 가능
d = ['No', 'pain', 'No', 'gain']
e = [1, 2, 'No', 'pain'] # 숫자, 문자 혼합
f = [1, 2, ['No', 'pain']] # 리스트 안에 리스트 입력

In [ ]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

* len() : 리스트에 몇 개의 데이터가 있는 지 확인

In [ ]:
list1 = [1, 3, 5, 7, 9]
len(list1)

* count() : 특정요소 값 개수세기

In [ ]:
list1 = [1,2,3,1]
list1.count(1)

* append() : 데이터 삽입

In [ ]:
list1.append(1)
list1

* insert() : 데이터 삽입

In [ ]:
list1.insert(3,88) # index가 3인 곳에 88 삽입
list1

* remove(): 특정 데이터 삭제

In [ ]:
list1.remove(1)
list1

* clear() : 리스트 전체 삭제

In [ ]:
list1.clear()

In [ ]:
list1

* reverse() : 뒤집기

In [ ]:
list1 = [1,2,3,1]
list1.reverse()
list1

* sort() : 정렬

In [ ]:
list1.sort() # 오름차순
list1

* 리스트의 인덱싱

In [ ]:
list1 = [1,3,4,5,6]

In [ ]:
list1[0] + list1[-1]

* 리스트에 숫자 1, 2, 3과 또 다른 리스트인 ['a', 'b', 'c']를 포함

In [ ]:
list3 = [1, 2, 3, ['a', 'b', 'c']]
list3

* 리스트에 포함된 ['a', 'b', 'c'] 리스트에서 'a' 값을 인덱싱을 사용해 끄집어낼 수 있는 방법

In [ ]:
list3[3][0]

* 리스트 슬라이싱

In [ ]:
list4 = [1, 2, 3, 4, 5]
list4[0:3]

## 딕션너리

In [ ]:
score = {'math': 90, 'english': 85}
score

In [ ]:
a = {99: ['apple',1,2,3]} # Value에 리스트도 넣을 수 있다.
a

* 딕션너리 데이터 소환

In [ ]:
score['math']

* keys()

In [ ]:
score.keys()

* value()

In [ ]:
score.values()

## 튜플

In [ ]:
tp1 = ()
tp1

In [ ]:
tp2 = (1, 2, 3)
tp2

In [ ]:
tp4 = 1 # 튜플이 아님.
tp4

In [ ]:
# tp4 = (1)
tp4 = (1,) # 값이 1개인 튜플 생성시 뒤에 콤마 필수
tp4

In [ ]:
tp5 = ('a', 'b', ('ab', 'cd')) # 튜플이 튜플을 가질 수 있다.
tp5

# 연습문제

* 문제) a 리스트에서 'a','b'를 추출해보자. a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]

In [ ]:
a = [1,2,3,['a','b','c'],4,5]

In [ ]:
print(a[3][0:2])